<ion-view title="{{patient.last_name}}, {{patient.first_name}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear"
      ng-click="fillPrescription()"
      ng-show="selectedPrescriptions.length > 0">Fill</button>
    <button class="button button-clear ion-plus-round"
      ng-click="openModal()"
      ng-hide="selectedPrescriptions.length > 0"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-list can-swipe="true">
      <div class="item item-icon-left" ng-hide="patient.tag_id">
        <i class="icon ion-looping"></i>
        Scan a tag
      </div>
      <div class="item item-icon-left" ng-show="patient.tag_id">
        <i class="icon ion-card"></i>
        Patient Tagged
      </div>

      <div class="item item-divider item-icon-left">
        Prescriptions
      </div>

      <div class="item item-icon-left" ng-hide="prescriptions[0]">
        <i class="icon ion-android-information"></i>
        Add a Prescription
      </div>

      <ion-item ng-repeat="prescription in prescriptions" can-swipe="true">
        <ion-option-button class="button-balanced"
          ng-hide="prescription.selected"
          ng-click="togglePrescriptionSelect(prescription)">Select</ion-option-button>
        <ion-option-button class="button-energized"
          ng-show="prescription.selected"
          ng-click="togglePrescriptionSelect(prescription)">Deselect</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="removePrescription(prescription)">Delete</ion-option-button>
        <h2>{{getDrug(prescription.drug_id).brand}} ({{ getDrug(prescription.drug_id).name }})</h2>
        <p>{{prescription.amount}} {{prescription.unit}}, {{prescription.interval}} x {{prescription.intervalType}}</p>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
